*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 15px;
  /* border: 1px solid #000; */
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #000;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 0.5s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

body {
  font-family: sans-serif;
}

/******************* header styling *******************/

header {
  padding: 15px 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

header .header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header #themeSwitcher {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

header .header #themeSwitcher i {
  font-size: 20px;
}

/******************* countryDiv styling *******************/

.countryDataSection {
  margin: 20px 0;
}

.countryDataSection .countryDataDiv {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  gap: 10px;
}

.countryDataSection .countryDataDiv .leftFlagDiv{
  flex-basis: 50%;
}

.countryDataSection .countryDataDiv .leftFlagDiv img {
  object-fit: cover;
  display: block;
  width: 100%;
  height: 100%;
}

.countryDataSection .countryDataDiv .rightDataDiv {
  flex-basis: 50%;
}

.countryDataSection #backBtn {
  padding: 5px 30px;
  border-radius: 5px;
  border: none;
  background-color: #f0f0f0;
  font-weight: bold;
  margin-top: 20px;
}

.countryDataSection #backBtn a {
  text-decoration: none;
  color: #000;
}

/* Table Styling */
table {
  width: 100%;
  height: 100%;
  border-collapse: collapse;
  font-size: 15px;
  font-family: 'Arial', sans-serif;
  text-align: left;
}

thead {
  background-color: #f2f2f2;
}

thead th {
  padding: 12px;
  font-size: 18px;
  background-color: darkgray;
  color: #000;
  font-weight: bold;
}

tbody td {
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

tbody tr:nth-child(even) {
  background-color:lightgrey;
}

